<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @contribution_type.type %>
</p>

<%= link_to 'Edit', edit_contribution_type_path(@contribution_type) %> |
<%= link_to 'Back', contribution_types_path %>
