<div class="jumbotron">
  <h1>City of Houston</h1>
  <h2>Campaign Finance Information System</h2>
</div>

<div class="container">
  <div class="row">

    <div class="col-sm-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Filling Instructions</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>



    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Search</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>